{% load static %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% if request.user.is_authenticated %}
  <script src="{% static 'js/core_func.js' %}"></script>
  <script src="{% static 'js/check_messages.js' %}"></script>




  <script>
    const localStorageService = {
  checkItemExist(key) {
    return localStorage.getItem(key) !== null;
  },

  setValueItem(key, value) {
    localStorage.setItem(key, JSON.stringify(value));
  },

  getValueItem(key) {
    return JSON.parse(localStorage.getItem(key));
  }
};

const themeService = {
  checkbox: document.querySelector("input[name=theme]"),

  init(myStorage) {
    this.startingThemeInPage(myStorage);
    this.listenerCheckbox(myStorage);
  },

  startingThemeInPage(myStorage) {
    const { checkItemExist, setValueItem, getValueItem } = myStorage;

    if (!checkItemExist("mode"))
      setValueItem("mode", "light");

    if (getValueItem("mode") === "light") {
      this.checkbox.removeAttribute("checked");
      document.documentElement.setAttribute("data-theme", "light");
    } else {
      this.checkbox.setAttribute("checked", "");
      document.documentElement.setAttribute("data-theme", "dark");
    }
  },

  listenerCheckbox(myStorage) {
    const { setValueItem } = myStorage;

    this.checkbox.addEventListener("change", ({ target }) => {
      if (target.checked) {
        document.documentElement.setAttribute("data-theme", "dark");
        setValueItem("mode", "dark");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
        setValueItem("mode", "light");
      }
    });
  }
};

(function(theme, myStorage) {
  "use strict";

  theme.init(myStorage);
})(themeService, localStorageService);

</script>
{% endif %}
